html {
  background-color: cabfb6;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 600px;
  padding: 50px 50px;
  background-color: white;
  margin: auto;
}

h1 {
  border-radius: 6px;
  width: 180px;
  text-align: center;
  font-size: 21px;
  text-decoration: none;
  margin: auto;
}

h2 {
  font-size: 30px;
  font-family: "Proza Libre", sans-serif;
}

h3 {
  font-size: 30px;
}

#Android {
  background-color: #a4c93b;
  font-size: 20px;
}

#Apple {
  background-color: #b6bcca;
  font-size: 20px;
}

#brown {
  background-color: #c9793b;
  color: grey;
}
